@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
*,
::before ::after {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  overflow-x: hidden;
  height: 100%;
  overscroll-behavior-y: none;
}
img {
  height: auto;
  max-width: 100%;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Red Hat Display", sans-serif;
}

@media only screen and (min-width: 1400px) {
}
